<header>
    <div class="main-nav">
      <div class="container">
        <div class="row">
          <div class="menu-toggle"></div>
          <div class="logo">
            <img src="../../assets/asseststwo/images/LearningLogo.png">
          </div>
          
          <div class="my-nav">
            <div class="menu">
              <ul>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="/about">About Us</a></li>
                <li><a >Courses</a></li>
                <li><a routerLink="/contact">Contact Us</a></li>
                <li><a routerLink="/security/login">JoinUS</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>


